body{
    background-color: rgb(3, 29, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.menu{
    margin: 5px;
    padding-top: 1% ;
    background-color: rgb(209, 248, 151);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1pc;
    box-shadow: 
    inset 5px 5px 10px rgb(5, 24, 5), 
    inset -5px -5px 10px rgb(57, 78, 26); 
}
.container1 {
    margin: 5px;
    padding: 5px;
    background-color: rgb(209, 248, 151);
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 
    inset 5px 5px 10px rgb(5, 24, 5), 
    inset -5px -5px 10px rgb(57, 78, 26);
}

.container {
    padding: 5px;
    margin: 5px;
    background-color: rgb(209, 248, 151);
    border-radius: 20px;
    box-shadow: 
    inset 2px 2px 10px rgb(5, 24, 5), 
    inset -2px -2px 10px rgb(57, 78, 26);
    padding-top: 1px;
}

.titulo{
    font-style: italic;
    font-size: xx-large;
    
}

img{
    border-radius: 50%;
    margin-top: 20px;

}
@media only screen and (max-width: 600px) {
    .container1, .container {
        width: 100%;
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .menu div {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
}